#contacto {
  padding-top: 10%;
  height: auto; }

.width-window {
  width: 100%; }

.outer {
  display: inline-block; }

.centered {
  display: flex;
  justify-content: center;
  align-items: center; }

#logo {
  height: 30px;
  min-width: 142px; }

.input {
  height: 50px;
  width: auto; }

#hero {
  padding-top: 12vw;
  padding-bottom: 25vw;
  display: block;
  position: relative; }
  #hero .pad-left {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-left: 30%;
    margin-left: 15%; }
  #hero .text-hero {
    font-size: 2vw;
    width: 60%;
    justify-content: center;
    text-align: center;
    padding-left: 20px;
    line-height: 4.45vw; }
    #hero .text-hero .boton {
      width: 30%;
      height: 4.25vi;
      margin-top: 3%;
      z-index: 30; }
  #hero .call-to-action {
    width: 60%; }
  #hero .grad {
    position: absolute;
    width: 75%;
    z-index: 10; }
  #hero .img-front {
    width: 85%;
    position: absolute;
    z-index: 20; }
  #hero #banner {
    padding-top: 12vw;
    width: 100%;
    height: 100%;
    position: absolute; }

#Mision-y-vision #titulo-seccion {
  padding-top: 10%;
  padding-bottom: 5vw;
  display: flex;
  justify-content: center;
  align-items: center; }

#Mision-y-vision .width-window {
  width: 100%;
  display: flex;
  overflow-wrap: normal;
  margin-right: 5%;
  margin-left: 5%;
  margin-bottom: 5%; }

#Mision-y-vision .div-icono-texto {
  width: 50%;
  display: flex;
  align-items: center;
  padding-bottom: 8vw; }

#Mision-y-vision .titulo {
  padding-bottom: 3px; }

#Mision-y-vision .icono {
  max-width: 15%;
  max-height: 80px;
  width: 9.5vw;
  height: auto;
  margin-right: 2vw;
  margin-top: 2vw; }

#Mision-y-vision .div-texto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 5%; }

#Mision-y-vision .div-imagen {
  display: flex;
  justify-content: flex-end;
  width: 40%;
  height: auto; }

.text-default {
  color: #505050; }

.text-xs {
  font-size: 0.5vw; }

.text-sm {
  font-size: 1vw; }

.text-md {
  font-size: 1.5vw; }

.text-lg {
  font-size: 2vw; }

.text-xl {
  font-size: 2.75vw; }

.text-2xl {
  font-size: 3.5vw; }

.text-4xl {
  font-size: 4vw; }
