#contacto {
  padding-top: 10%;
  height: auto; }

.width-window {
  width: 100%; }

.outer {
  display: inline-block; }

.centered {
  display: flex;
  justify-content: center;
  align-items: center; }

#logo {
  height: 30px;
  min-width: 142px; }

.input {
  height: 50px;
  width: auto; }

.mision-vision {
  position: "absolute";
  top: "70%";
  left: "2%";
  right: "2%";
  background-color: "rgba(255, 255, 255, 0.4)";
  justify-content: "center";
  padding: "20px";
  border-radius: "25px";
  display: "flex";
  gap: "30px"; }

.navbar {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%; }

#Inicio {
  overflow-x: hidden;
  overflow-y: hidden;
  padding-top: 14vw;
  padding-bottom: 30vw;
  display: block;
  position: relative; }
  #Inicio .pad-left {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-left: 30%;
    margin-left: 15%; }
  #Inicio .text-hero {
    font-size: 2vw;
    width: 60%;
    justify-content: center;
    text-align: center;
    padding-left: 20px;
    line-height: 4.45vw; }
    #Inicio .text-hero .boton {
      width: 30%;
      height: 4.25vi;
      margin-top: 3%;
      z-index: 30; }
  #Inicio .call-to-action {
    width: 60%; }
  #Inicio .grad {
    position: absolute;
    width: 75%;
    z-index: 10; }
  #Inicio .img-front {
    width: 85%;
    position: absolute;
    z-index: 20; }
  #Inicio #banner {
    padding-top: 12vw;
    width: 100%;
    height: 100%;
    position: absolute; }
  @media only screen and (max-width: 900px) {
    #Inicio {
      padding-top: 8vw;
      padding-bottom: 35vw; }
      #Inicio #banner {
        padding-top: 20vw;
        padding-right: 14%;
        width: 110%;
        height: auto;
        position: relative; }
      #Inicio .grad {
        position: absolute;
        width: 50%;
        margin-right: 5%;
        z-index: 10; }
      #Inicio .text-hero {
        font-size: 5vw;
        width: 50%;
        margin-left: 3%;
        margin-top: -10%; }
      #Inicio .text-4xl {
        font-size: 6vw; }
      #Inicio .boton {
        display: none; } }

#Mision-y-vision {
  padding-top: 5%;
  padding-bottom: 6%; }
  #Mision-y-vision #titulo-seccion {
    display: flex;
    justify-content: center;
    align-items: center; }
  #Mision-y-vision .width-window {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "div-icono-texto div-imagen";
    grid-gap: 3%;
    padding-top: 5%; }
  #Mision-y-vision .titulo {
    padding-bottom: 3%; }
  #Mision-y-vision .div-icono-texto {
    grid-area: div-icono-texto;
    display: flex;
    align-items: flex-start;
    padding-top: 2.5vw;
    margin-left: 6%; }
  #Mision-y-vision .div-imagen {
    grid-area: div-imagen;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-right: 6%; }
  #Mision-y-vision .div-texto {
    display: flex;
    flex-direction: column;
    justify-content: center; }
  #Mision-y-vision .icono {
    max-width: 15%;
    max-height: 80px;
    width: 9.5vw;
    height: auto;
    margin-right: 2vw; }
  #Mision-y-vision .imagen {
    width: 80%;
    height: auto; }
  @media only screen and (max-width: 900px) {
    #Mision-y-vision .width-window {
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: max-content 1fr;
      grid-template-areas: "div-icono-texto" "div-imagen";
      margin-top: 0%;
      margin-top: 4%; }
    #Mision-y-vision .titulo {
      padding-bottom: 4%; }
    #Mision-y-vision .div-icono-texto {
      margin-right: 5%; }
    #Mision-y-vision .div-texto {
      padding-bottom: 3%; }
    #Mision-y-vision .div-imagen {
      display: flex;
      justify-content: center;
      margin-left: 6%; }
    #Mision-y-vision .text-fw {
      width: 100%; }
    #Mision-y-vision .text-lg {
      font-size: large; }
    #Mision-y-vision .text-md {
      font-size: medium; }
    #Mision-y-vision .text-2xl {
      font-size: x-large; }
    #Mision-y-vision .text-default {
      margin-left: -30px; } }

.text-default {
  color: #505050; }

.text-xs {
  font-size: 0.5vw; }

.text-sm {
  font-size: 1vw; }

.text-md {
  font-size: 1.5vw; }

.text-lg {
  font-size: 2vw; }

.text-xl {
  font-size: 2.75vw; }

.text-2xl {
  font-size: 3.5vw; }

.text-4xl {
  font-size: 4vw; }
