#contacto {
  padding-top: 10%;
  height: auto;
}

.pad-left {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-left: 30%;
  margin-left: 15%;
}

.grad {
  position: absolute;
  width: 75%;
  z-index: 10;
}

.img-front {
  width: 85%;
  position: absolute;
  z-index: 20;
}

.width-window {
  width: 100%;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo {
  height: 30px;
}

.input {
  height: 50px;
  width: auto;
}

.mision-vision {
  position: "absolute";
  top: "70%";
  left: "2%";
  right: "2%";
  background-color: "rgba(255, 255, 255, 0.4)";
  justify-content: "center";
  padding: "20px";
  border-radius: "25px";
  display: "flex";
  gap: "30px";
}

.text-default {
  color: #6d6d6d;
}

// Estilos hero section
#hero {
  padding-top: 20%;
  .text-hero {
    font-size: 2vw;
    width: 60%;
    justify-content: center;
    text-align: center;
    padding-left: 20px;
    line-height: 4.45vw;
    .boton {
      width: 30%;
      margin-top: 3%;
      border-radius: 25px;
      height: 5vi;
    }
  }
  .call-to-action {
    width: 60%;
  }
}

.text-lg {
  font-size: 2vw;
}

.text-md {
  font-size: 1.5vw;
}

.text-sm {
  font-size: 1vw;
}

.text-xs {
  font-size: 0.5vw;
}

.text-xl {
  font-size: 3vw;
}

.text-2xl {
  font-size: 4vw;
}
